/*Reminder to me to fix colors like egh this is so ugly*/
body {font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e2dfcf;}

header, nav{background-color: #62E660;
    color: #ae0e02;
    display: block;
    padding: 1em 0;
    text-align: center;}

header {margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;}

nav {margin-left: 1em; 
    margin-right: 1em; 
    margin-bottom: 1em;}
nav ul{list-style-type: none;}
nav ul li {display: inline;}
nav ul li a{color: #3104ae;
    text-decoration:none;}
nav ul li a:hover{text-decoration: underline;}
nav ul li a:visited{color: #ae0497;}

main {margin: 1em;
    background-color: #FFFFFF;
    padding: 2%;}
h2{text-align: center;}

img {height: 100%;
    width: 100%;
    align-self: center;}

footer {font-size: small;
    font-style: italic;
    background-color: #62E660;
    color: #AE1004;
    margin: 1em;
    text-align: center;}