body {font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;}

header, nav{background-color: greenyellow;
    color: red;
    display: block;
    padding: 1em 0;
    text-align: center;}

nav ul{list-style-type: none;}
nav ul li {display: inline;}